/*global page styles*/

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #23395B;
    color: #EFF1F3;
}


/*layout containers*/

.container{
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.content-section {
    margin-top: 40px;
}

/*header/nav*/

.main-header {
    background-color: #23395B;
    border-bottom: 2px solid #FFBC42;
    padding: 15px 0;

}

.site-title {
    text-align: center;
    margin: 10px 0;
    font-size: 28px;
}

.site-title a {
    text-decoration: none;
    color: #EFF1F3;
    font-weight: bold;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}


.main-nav li {
    display: inline-block;
    margin: 0 15px;
}

.main-nav a {
    text-decoration: none;
    color: #EFF1F3;
    font-weight: bold;
}

.main-nav a:hover {
    text-decoration: underline;
}

/*section headers & text*/
.section-header {
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
}

.help-topic-header {
    font-size: 20px;
    margin-top: 30px;
}

/*form styles*/

.input-form {
    width: 100%;
}

.input-box {
    margin-bottom: 20px;
}

.label {
    display: inline-block;
    width: 130px;
    font-weight: bold;
}

.input {
    width: 70%;
    padding: 6px;
    border: 1px solid #0b2c4d;
    border-radius: 4px;
}

.static-text {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.static-text.start {
    margin-bottom: 15px;
}

.static-text.transition {
    margin-top: 25px;
    margin-bottom: 15px;
}

.error {
    color: #EB5757;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*subconditions*/

.subconditions {
    margin-bottom: 20px;
}

.subcondition-number-label {
    font-weight: bold;
    margin-right: 10px;
}

.subcondition {
    margin-top: 10px;
}

/*dropdown*/

.drop-btn {
    padding: 4px 6px;
    border: 1px solid #0b2c4d;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
}

/*buttons*/

.btn {
    display: block;
    margin: 30px auto;
    padding: 10px 25px;
    background-color: #FFBC42;
    color: #23395B;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #BF8A28;
}

/*temporary message*/

.temporary-msg {
    opacity: 0;
}

/*links*/
.page-link {
    text-align: center;
    margin-top: 20px;
}

.page-link a {
    color: #FFBC42;
    text-decoration: none;
    font-weight: bold;
}

.page-link a:hover {
    text-decoration: underline;
}

/*footer*/

footer {
    margin-top: 60px;
    padding: 20px 0;
    border-top: 2px solid #FFBC42;
    background-color: #23395B;
}

.main-footer-container {
    text-align: center;
}

.copyright {
    font-size: 14px;
    color: #EFF1F3;
}