/*global page styles*/

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #0b2c4d;
}


/*layout characters*/

.container{
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.content-section {
    margin-top: 40px;
}

/*header/nav*/

.main-header {
    background-color: #ffffff;
    border-bottom: 2px solid #0b2c4d;
    padding: 15x 0;

}

.site-title {
    
}